@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
//font-family: 'Raleway', sans-serif;

:root {
  --clr-light-pink: hsl(6, 100%, 80%);
  --clr-dark-pink: hsl(335, 100%, 65%);
  --clr-pale-blue: hsl(243, 100%, 93%);
  --clr-grayish-blue: hsl(229, 7%, 55%);
  --clr-dark-blue: hsl(228, 56%, 26%);
  --clr-very-dark-blue: hsl(229, 57%, 11%);

  --fn-raleway: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--fn-raleway);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-pale-blue);
  height: 100vh;

  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1100px) {
    background-color: var(--clr-very-dark-blue);
    background-image: url(../images/bg-desktop.png);
    background-size: contain;
    background-position: left bottom;
  }
}

.container {
  width: 86%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 680px) {
    width: 65%;
  }

  @media (min-width: 1100px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.menu {
  background-color: var(--clr-dark-blue);
  padding: 4rem 4rem 3.3rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  margin-bottom: 1.8rem;

  @media (min-width: 1100px) {
    width: 35rem;
    margin-right: 3rem;
  }

  &__logo-box {
    margin-bottom: 2.5rem;
  }

  &__icon {
    background-color: var(--clr-very-dark-blue);
    border-radius: 1.25rem;
    padding: 1.5rem;
    width: 5rem;
    height: 5rem;
  }

  &__icon + &__icon {
    margin-left: 1rem;
  }
}

.storage {
  background-color: var(--clr-dark-blue);
  border-radius: 1rem;
  padding: 2.5rem 3.5rem 4.25rem;
  position: relative;

  @media (min-width: 1100px) {
    width: 54rem;
    margin-top: 2.5rem;
    padding: 3.5rem 4rem 3.5rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 1.5rem;

    @media (min-width: 1100px) {
      text-align: left;
      margin-bottom: 1rem;
    }

    &--bold {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &__progress {
    background-color: var(--clr-very-dark-blue);
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  &__progress-fill {
    height: 2rem;
    width: 76%;
    border-radius: 1rem;
    border: 3px solid var(--clr-very-dark-blue);
    background: linear-gradient(
      90deg,
      rgba(255, 163, 153, 1) 0%,
      rgba(255, 77, 151, 1) 100%
    );
    position: relative;
    display: flex;
    align-items: center;
  }

  &__progress-circle {
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: absolute;
    right: 2px;
  }

  &__capacity {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__status {
    background-color: white;
    border-radius: 1rem;
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    bottom: -24%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1100px) {
      bottom: 85%;
      left: 76%;
      border-bottom-right-radius: 0px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -22px;
        border-top: 26px solid white;
        border-left: 26px solid transparent;
      }
    }
  }

  &__status-number {
    color: var(--clr-very-dark-blue);
    font-size: 4.5rem;
    font-weight: 700;
  }

  &__status-unit {
    text-transform: uppercase;
    color: var(--clr-grayish-blue);
    font-weight: 700;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
